@import url(https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro&display=swap);

//Fonts
$title-font: 'Oswald', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;

//Colors
$primary-color: #7d12f0;
$secondary-color: #62c241;
$success-color: #6242f1;
$dark-color: #000000;
$light-color: #f8f4f4;
$danger-color: #191a18;
